.app-body {
  background-image: url(./media/image/eli_room.png);
  background-size: cover;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chibi {
  height: 40vmin;
}
